*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
#canvas1{
    position: absolute;
}

.controls{
    position: absolute;
    z-index: 100;
}
img{
    display: none;
}
button,
.custom-file-upload{
    padding: 20px;
    font-size: 30px;
    margin: 20px;
    font-family: 'Bangers', cursive;
    color:#fff;
    background-color: #000;
    transition: ease-in-out 200ms;
    border:none;
}

button:hover,
.custom-file-upload:hover{
    color: #000;
    background-color: #fff;
    cursor: grab;
}
input[type="file"] {
    display: none;
}
